---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import BaseHead from '@components/partials/BaseHead.astro'
import Loading from '@components/partials/Loading.vue'
import BaiduAnalytics from '@components/thirdparty/BaiduAnalytics.astro'
import Clarity from '@components/thirdparty/Clarity.astro'
import GoogleAnalytics from '@components/thirdparty/GoogleAnalytics.astro'
import MouseFirework from '@components/thirdparty/MouseFirework.astro'
import { algolia, loader, site, fireworks } from '@utils/config'
import { ViewTransitions } from 'astro:transitions'
import SiteSearch from '@components/thirdparty/SiteSearch.vue'
import { __ } from '@utils/i18n'
import SideBar from '@components/partials/SideBar.astro'

interface Props {
  title: string
  desc: string
  keywords?: string[]
  content: string
}

const { title, desc, keywords, content } = Astro.props;
---

<!doctype html>
<html lang={site.lang}>
<style is:global lang="stylus">
  @import "../styles/_colors"; 
  @import "../styles/app"; 
</style>
<style lang="stylus">
@import "../styles/_mixins.styl";
@import "../styles/_variables.styl";

main {
  background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;

  >.inner {
    width: $content-desktop;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    if (astro-config('sidebar.position') == 'left') {
      flex-direction: row-reverse;
    }

    +desktop-large() {
      width: $content-desktop-large;
    }

    +desktop-largest() {
      width: $content-desktop-largest;
    }
  }

}
</style>
<style lang="stylus" is:global>
  @import '../styles/outline/sidebar/sidebar.styl'
</style>

<head>
  <BaseHead title={title} description={desc} keywords={keywords} />
  <ViewTransitions />
  <slot name="head" />
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  <Loading start={loader.start} client:only="vue" />
  <div id="container">
    <Header title={title} />
    <main>
      <div class="inner">
        <div id="main" class="pjax">
          <slot name="content" />
        </div>
        <div id="sidebar">
          <slot name="sidebar">
            <SideBar showToC={false} content={content}></SideBar>
          </slot>
        </div>
        <div class="dimmer"></div>
      </div>
    </main>
    <Footer />
  </div>
  {
    algolia.enable && (
      <SiteSearch
        client:idle
        appID={algolia.appId}
        apiKey={algolia.apiKey}
        indexName={algolia.indexName}
        url={site.url as string}
        placeholder={__('search.placeholder')}
        empty={__('search.empty')}
        stats={__('search.stats')}
      ></SiteSearch>
    )
  }
  <BaiduAnalytics />
  <GoogleAnalytics />
  <Clarity />
  {
    fireworks.enable && <MouseFirework />
  }
</body>

</html>
