---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import BaseHead from '@components/partials/BaseHead.astro'
import Loading from '@components/partials/Loading.vue'
import Wave from '@components/partials/Wave.astro'
import BaiduAnalytics from '@components/thirdparty/BaiduAnalytics.astro'
import Clarity from '@components/thirdparty/Clarity.astro'
import GoogleAnalytics from '@components/thirdparty/GoogleAnalytics.astro'
import MouseFirework from '@components/thirdparty/MouseFirework.astro'
import { algolia, loader, site, fireworks } from '@utils/config'
import { ViewTransitions } from 'astro:transitions'
import { cover } from '@utils/cover'
import { Image } from 'astro:assets'
import SiteSearch from '@components/thirdparty/SiteSearch.vue'
import { __ } from '@utils/i18n'

interface Props {
  title: string
  lang: string
  desc: string
  keywords?: string[]
}

const { title, lang, desc, keywords } = Astro.props;
---

<!doctype html>
<html lang={lang}>
<style is:global lang="stylus">
  @import "../styles/_colors"; 
  @import "../styles/_common/scaffolding"; 
</style>
  <head>
    <BaseHead title={title} description={desc} keywords={keywords} />
    <ViewTransitions />
    <slot name="head" />
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <Loading start={loader.start} client:only />
    <div id="container">
      <header id="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="inner">
          <div id="brand">
            <div class="pjax">
              <slot name="header">
                <a href={site.url ? site.url : '/'} class="logo" rel="start">
                  {site.alternate && <p class="artboard">{site.alternate}</p>}
                  <h1 itemprop="name headline" class="title">
                    {title}
                  </h1>
                  {
                    site.subtitle && (
                      <p class="meta" itemprop="description">
                        {`= ${site.subtitle} =`}
                      </p>
                    )
                  }
                </a>
              </slot>
            </div>
          </div>
          <Header />
        </div>
        <div class="imgs" class="pjax">
          {
            cover.fixedCover && (
              <Image
                src={cover.fixedCover}
                alt="header img"
                width={1280}
                height={800}
              />
            )
          }
          {
            !cover.fixedCover
            && {
                /* TODO */
              }
          }
        </div>
      </header>
      <Wave />
      <main>
        <div class="inner">
          <div id="main" class="pjax">
            <slot name="content" />
          </div>
          <div id="sidebar">
            <slot name="sidebar">
              <!-- TODO -->
            </slot>
          </div>
          <div class="dimmer"></div>
        </div>
      </main>
      <footer id="footer">
        <div class="inner">
          <div class="widgets">
            <!-- TODO -->
          </div>
          <Footer />
        </div>
      </footer>
    </div>
    {
      algolia.enable && (
        <SiteSearch
          client:idle
          appID={algolia.appId}
          apiKey={algolia.apiKey}
          indexName={algolia.indexName}
          url={site.url as string}
          placeholder={__('search.placeholder')}
          empty={__('search.empty')}
          stats={__('search.stats')}
        ></SiteSearch>
      )
    }
    <BaiduAnalytics />
    <GoogleAnalytics />
    <Clarity />
    {
      fireworks.enable && <MouseFirework />
    }
  </body>

</html>
